* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
}

#game-world {
    width: multiply(95vh, 16 / 9);
    height: 95vh;
    margin: auto;
    background: #333333;
}