@font-face {
    font-family: 'vt323';
    src: url('../font/vt323/VT323-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    font-family: 'vt323', fallback;
}

#game-world {
    width: multiply(95vh, 16 / 9);
    height: 95vh;
    margin: auto;
    background: #333333;
    display: block;
}
